/** Main styles **/

html{
	width: 69%;
	margin:0 12.5%;
	overflow-y:scroll;
}

body,ul,textarea,figure,label, form, form ol, form ol li{
	margin: 0;
	padding: 0;
}

body{
	font: 14px "Arial", sans-serif;
	background: #121f32;
	color: #dfdfdf;
}

a{
	text-decoration: none;
	color: #dfdfdf;
	font-weight: bold;
	font-size: 16px;
}

h1{
	font-size: 20px;
	margin-left: 8%;
	margin-right: 8%;
	word-wrap: break-word;
}

/** Form styles */
form{margin: 0 8%;}

form ol{
	list-style: none;
}

form ol li{
  line-height: 40px;
  list-style: none;
}

form label{
	font-weight: bold;
	float: left;
	width: 30%;
	overflow: hidden;
	word-wrap:normal;
	white-space: nowrap;
}

input{
	background-color: #06090e;
	border: 1px solid #253244;
	border-radius: 5px;
	color:white;
	width: 35%;
	height: 25px;
	font-size: 14px;
	padding:0 10px;
	box-sizing: padding-box;
	-moz-box-sizing: padding-box;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

input:focus:not([type=submit]){
	background-color: #18212f;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

input[type=submit] {
	padding: 0 30px;
	height:30px;
	margin-top:20px;
}

input[type=submit]:active{background-color: #0f1e34;}

/** Basic Style */

.blue-text{color:#3db4f2;}

/** Header Style */

#header-wrapper{height:185px;}

#header-logo{
	background: url('../img/logo.png')no-repeat;
	height:137px;
	width:408px;
	float: left;
	margin-top: 25px;
}

#header-user-wrapper{
	font-weight: bold;
	text-align: center;
	height:100%;
	float:right;
	margin-right: 5%;
}

#header-user{margin-top:25px;}


/** Navigation style */

nav{
	height: 60px;
}

nav a{display: block;}

nav ul{
	list-style: none;
	z-index: 50;
	position: relative;
}

/* Commons rules for li */
nav li{
	background-color: #080c12;
	line-height: 60px;
	text-align: center;
	padding: 0;
	margin: 0;
}

/* Set properties for main buttons */
ul.level1>li{
	float: left;
	width: 20%;
	height: 55px;
	border-bottom: 5px solid #3db4f2;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
    position:relative;
}

/* Add shadows to main buttons of navigation bar */
ul.level1>li:not(:last-child):not(:first-child):after{
	content: '';
	position: absolute;
	
	z-index: -1; /* hide shadow behind list-items */
	
	/* The Shadow */
	box-shadow: 0px 12px 8px rgba(0, 0, 0,1);
	-webkit-box-shadow: 0px 12px 8px rgba(0, 0, 0,1);
	-moz-box-shadow: 0px 12px 8px rgba(0, 0, 0,1);
	-box-shadow: 0px 12px 8px rgba(0, 0, 0,1); 
	
	width: 100%;
	left:0%;
	height: 10px;
	bottom:  0;
}

/* Transition for border of main buttons */
ul.level1>li:hover{
	border-bottom: 5px solid #e7743b;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

/* Set properties for first and last child of navigation */
ul.level1>li:first-child,ul.level1>li:last-child{
	height: 0;
	border: 60px solid;
	padding: 0 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* Cut one part of start of navigation bar */
ul.level1>li:first-child{
	border-left-width: 20px;
	border-bottom: none;
	border-right: none;
	border-color: #080c12 #121f32;
}

/* Cut one part of end of navigation bar */
ul.level1>li:last-child{
	border-right-width: 20px;
	border-bottom: none;
	border-left: none;
	border-color: #080c12 #121f32;
}

/* Hide sliding menu */
ul.level1 ul{
	width: 100%;
	height: 60px;
	visibility: hidden;
	opacity:0;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

/* Show sliding menu */
.level1 li:hover ul.level2{
	opacity:1;
	visibility:visible;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

/* Smooth animation for background-color change */
ul.level2>li:hover{
	background-color: #1d314e;
	opacity:1;
	-moz-transition: all .5s; 
    -webkit-transition: all .5s; 
    -o-transition: all .5s; 
    transition: all .5s;
}

/* Set a border for the last element of sliding menu */
ul.level2>li:last-child{border-bottom: 5px solid #3db4f2;}


/** Background Colors */

.blue{background-color: #3db4f2;}

.red{background-color: #e73b3b;}

.orange{background-color: #e7743b;}

.green{background-color: #96f23d;}

.pink{background-color: #c7346b;}

.yellow{background-color: #f2ca3d;}

.purple{background-color: #7d3df2;}

/** Font Colors */

.fblue{color: #3db4f2;}

.fred{color: #e73b3b;}

.forange{color: #e7743b;}

.fgreen{color: #96f23d;}

.fpink{color: #c7346b;}

.fyellow{color: #f2ca3d;}

.fpurple{color: #7d3df2;}

/** Outline Colors */

.outblue{outline: 1px solid #3db4f2;}

.outred{outline: 1px solid #e73b3b;}

.outorange{outline: 1px solid #e7743b;}

.outgreen{outline: 1px solid #96f23d;}

.outpink{outline: 1px solid #c7346b;}

.outyellow{outline: 1px solid #f2ca3d;}

.outpurple{outline: 1px solid #7d3df2;}

/** Position */

.right{ right:0%;}

.left{ left:0%;}

.left,.center,.right{
	background-color: #080c12;
	position:absolute;
}

.left:after,.center:after:not(.error),.right:after{
	content: '';
	position: absolute;
	
	z-index: -1; /* hide shadow behind blocks */
	
	/* The Shadow */
	box-shadow: 10px 10px 8px rgba(0, 0, 0,1);
	-webkit-box-shadow: 10px 10px 8px rgba(0, 0, 0,1);
	-moz-box-shadow: 10px 10px 8px rgba(0, 0, 0,1);
	-box-shadow: 10px 10px 8px rgba(0, 0, 0,1); 
	
	width: 100%;
	left:0%;
	height: 100%;
	bottom:  0;
}

/** Blocks */

#container{
	margin:65px 0;
	position: relative;
}

.border-top{height: 10px;}

.border-bottom{
	background-color: #000000;
	height: 6px;
}

/** Home page*/
.news{
	background-color: #080c12;
	width: 23.2%;
}

.container-reviews{
	width: 50%;
	left: 25%;
}

.title-review{margin:0;}

.title-review, .type{
	white-space: nowrap;
	overflow: hidden;
  	-o-text-overflow: ellipsis; /* pour Opera 9 */
  	text-overflow: ellipsis; /* pour le reste du monde */
}

.reviews{
	margin: 0 8% 30px 8%;
	position: relative;
	height:200px;
}

.reviews img{
	width: 22%;
	float: left;
}

.text-review{
	margin: 0;
	overflow: hidden;
	height: 105px;
}

.news .grid ul li,.next-releases .grid ul li{
	width:34%;
	margin: 0 8% 8% 8%;
}

.next-releases{width: 23.2%;}

/** Home page & Game page */

.reviews p, .reviews h2{
	box-sizing:padding-box;
	-moz-box-sizing:padding-box;
	width: 75%;
	position: absolute;
	right: 0;
}

.reviews .fyellow{top: 10%;}

.text-review{top: 30%;}

.more{
	position: absolute;
	right: 0;
	bottom: 0px;
}

/** Games page */

.games-reviews{
	width: 75%;
	left: 25%;
}

/** Register and login */
.login, .register{
	background-color: #080c12;
	width: 48%;
	height: 250px;
}

#login{margin-top: 60px;}

/** Grid style */

.grid ul{list-style: none;}

.grid ul a{
	text-align: center;
	display:block;
	word-wrap: break-word;
}

.grid ul li{
	float: left;
	display: block;
}

.grid ul li img{
	max-width: 100%;
	height: auto;
}

/** Error style */

.error{ 
	width:80%;
	left:10%;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	background: none;
	margin:0;
}

.error p{margin:0;}

#error-message{margin:65px 0 30px 0;}

#error-subtitle{
	line-height: 32px;
	color: #050b15;
	font-size: 32px;
}

.error img{
	width: 33%;
	height: auto;
	margin: 50px 0;
}


/** Media queries */

@media screen and (max-width: 1340px) {
	
	.grid ul li {float:none;}

	.news .grid ul li{
		width: 50%;
		margin-left: 25%;
	}

	.next-releases{
		display: none;
	}

	/** Resize center block */
    .center{
    	width:68.2%;
    	left:31.8%;
    }

    /** Resize left block */
    .left{width:30%;}

}

@media screen and (max-width: 1024px) {

	/** Change logo */
    #header-logo{
        background-image: url('../img/logo_low_res.png');
        height:137px;
		width:136px;
    }
	
}

/**
@media screen and (max-width: 960px) {
	
	
    .left{display: none;}
	
    .center{
    	width:100%;
    	left:0%;
    }

}*/

@media screen and (max-width: 960px) {

		html{
			width: 100%;
			margin:0;
		}
		
		#header-wrapper, .left, .right{display: none;}

		#container{margin: 45px 0;}
		
		/* Set center as the main content */
		.center{
			left:0%;
			width:100%;
		}
		
		/** Navigation style */
		
		nav{
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
		}
		
		/* Commons rules for li*/
		ul.level1>li{line-height: 55px;}
		
		/* Hide text */
		.level1>li>a{
			text-indent: 100%;
    		white-space: nowrap;
    		overflow: hidden;
		}
		
		/* Set icons for main buttons */
		ul.level1>li:nth-child(2) a,.level1>li:nth-child(4) a,
		.level1>li:nth-child(3)>a{
			background: url("../img/sprites_mobile.png") no-repeat;
			position: relative;
			top: 7px;
			left: 42%;
			width:37px;
			height:55px;
		}

		.level1>li:nth-child(4) a {background-position: -87px 0;}
		
		.level1>li:nth-child(3)>a{background-position: -42px 0;}

		ul.level1>li{
			width: 33.3333333%;
			height: 50px;
		}

		/* Hide first and last children of navigation bar */
		ul.level1>li:first-child,ul.level1>li:last-child{display: none;}

		.outblue, .outred, .outorange, .outgreen, .outpink, .outyellow, .outpurple{outline: 0;}
}
